<div class="mymain">


  <mat-toolbar class="mat-elevation-z3">
    <button mat-icon-button (click)="drawer.toggle() ;">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="..\assets\keeplogo.png" alt="">
    <h1>Fundoo</h1>

    <!-- <span class="example-spacer"> -->
      
<div style="width: 25%;"></div>
        <div class="search">
          

            <mat-icon>search</mat-icon>
            <input type="text" placeholder="Search">
          
          
        </div>
<div style="width: 15%;"></div>
     
    <!-- </span> -->
    <div class="navIconprofile">

      <button mat-icon-button>
        <mat-icon>refresh</mat-icon>
      </button>
      <button mat-icon-button class="example-icon " (click)="myGridView()">
        <mat-icon>grid_view</mat-icon>
      </button>
      <button mat-icon-button class="example-icon ">
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-icon-button class="example-icon ">
        <mat-icon>apps</mat-icon>
      </button>
      <button mat-icon-button class="example-icon">
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
    <div class="moreVert" *ngIf ='!logout'>
      
        <button mat-icon-button (click)="logoutShow()">
          <mat-icon>more_vert</mat-icon>
        </button>
      
    </div>
  <div *ngIf ='logout'>
        <button (click)="onLogOut()" >
          Logout
        </button>
   
  </div>
      
   
  </mat-toolbar>

  <div class="boton">

    <div>
      <!-- logo -->
      <mat-drawer opened mode="side" class="logo" >

        <div ng-mouseover="drawer.toggle()">
          <button  class="example-icon ">

            <span class="material-symbols-outlined" (click)="goNote();">
              lightbulb
            </span>
            
          </button>
        </div>
        <div>
          <button  class="example-icon ">

            <span class="material-symbols-outlined">
              label
            </span>
          </button>
          </div>
        <div>
          <button  class="example-icon ">

            <span class="material-symbols-outlined">
              edit
            </span>
          </button>
        </div>
        <div>
          <button (click)="goArchive()" class="example-icon ">

            <span class="material-symbols-outlined">
              archive
          </span>
        </button>
        </div>
        <div (click)="goTrash()">
          <button  class="example-icon ">

            <span class="material-symbols-outlined">
              delete
            </span>
          </button>
          </div>

      </mat-drawer>
    </div>
    <div class="drawecon">
      <mat-drawer-container class="example-container">

        <mat-drawer #drawer mode="side" class="drawerdinamic">
          <div (click)="goNote();">
            <p>Notes</p>
          </div>
          <div>
            <p>Label</p>
          </div>
          <div>
            <p>Edit Label</p>
          </div>
          <div (click)="goArchive()">
            <p>Archive</p>
          </div>
          <div (click)="goTrash()">
            <p>Trash</p>
          </div>

        </mat-drawer>

      </mat-drawer-container>
    </div>
    <div class="data">
      <div class="upper">

        <div class="uppernote" *ngIf="show else elseBlock">
          <app-note-one ></app-note-one>
        </div>


        <ng-template #elseBlock>
          <div class="uppernote2">
            <app-note-two></app-note-two>

          </div>
        </ng-template>

      </div>
      <div class="lower">
        <div class="mycart">
          <router-outlet >
    
          </router-outlet>
          <!-- <app-display-note [condition]=showNotecondition [myGridViewValue]="myGridViewValue"></app-display-note> -->
          <!-- <app-display-archive></app-display-archive> -->

        </div>
      </div>

    </div>


  </div>

</div>