.bottom{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    /* border:2pX solid rgb(224, 0, 0); */

}
.iconHover{
    border: none;
    background-color: transparent;
}
.iconHover:hover{
    background-color: rgb(223, 221, 221) !important;
    border-radius: 50% !important;
    
}
.left{
    display: flex;
   min-width:220px;
   width: 98%;
    max-width: 320px;
    
    /* border:2pX solid rgb(224, 0, 0); */
    gap: 4px;
    justify-content: space-between;
}

.example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
.custom-hover-button {
    transition: background-color 0.3s ease; /* Smooth transition */
}

.custom-hover-button:hover {
    background-color:rgb(243, 243, 243); /* Desired hover color */
}

.myundo{
    display: flex;
    border:2pX solid rgb(224, 0, 0);
 gap: 5px;
    /* justify-content: space-between; */
}
  
 .mytrash{
    display: flex;
    gap:20px ;
 } 