<div class="bottom">

    <div class="left" *ngIf=_iconStatus>
        <div  >
            <button class="iconHover" >
                
                <span class="material-symbols-outlined " >
                    add_alert
                </span>
            </button>
        </div>
        <div>
            <button class="iconHover">

                <span class="material-symbols-outlined">
                    person_add
                </span>
            </button>
        </div>
        <div >
            <div *ngIf="edit">

                <button class="iconHover">
       <input  style="width: 35px;" type="color" id="favcolor" (click)="updatecolor()" name="favcolor" [(ngModel)]=colorcode >
     </button>
             </div>
             <div>
                <button class="iconHover" (click)="colorPop()">
                    <span  class="material-symbols-outlined"> 
                        palette
                    </span>
                </button>
            </div>
        </div>
       
            
           
        
        
        <div>
            <button class="iconHover">

                <span class="material-symbols-outlined">
                    image
                </span>
            </button>
        </div>

        <div>
            <button class="iconHover">

                <span class="material-symbols-outlined" *ngIf="changelogoarchive else elseBlock" (click)="archiveNoteNTBC()">
                    archive
                </span>
                <ng-template #elseBlock>

                    <span class="material-symbols-outlined"  (click)="unArchiveNoteNTBC()">
                        unarchive
                    </span>
                </ng-template>
            </button>
        </div>
        <div>
        <button class="iconHover">
            <span class="material-symbols-outlined" (click)="trashNoteNTBC()" >
                delete
                </span>
        </button>  

    </div>
   
       
       

            <div *ngIf="!hideIcon">
                <button class="iconHover">

                    <span class="material-symbols-outlined">
                        undo
                    </span>
                </button>
            </div>
            <div *ngIf="!hideIcon">
                <button class="iconHover">

                    <span class="material-symbols-outlined">
                        redo
                    </span>
                </button>
            </div>
            
        <!-- </div> -->
    </div>
    <div class="mytrash" *ngIf="!_iconStatus">
        <div>
            <button class="iconHover">

                <span class="material-symbols-outlined" (click)="deleteNoteNTBC()">
                    delete_forever
                </span>
            </button>
        </div>
        <div>
            <button class="iconHover">

                <span class="material-symbols-outlined" (click)="  unTrashNoteNTBC()">restore_from_trash</span>
            </button>
        </div>
    </div>
</div>