<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="a">
        <div class="inner">

            
                    <form [formGroup]="loginform" (ngSubmit)="loginuser()">
            
                        <div class="top">
                            <div class="logo">
                                <img src="..\assets\logo.png" alt="">
                            </div>
                            <div class="top1">
                                <h3>Login</h3>
                            </div>
                            <div class="top2">
                                <h5> Use your Google Account </h5>
                            </div>
            
            
                        </div>
                        
                        
            
                        <div class="middle">
                            <input type="text" placeholder="Email or phone*" formControlName="userName">
                            <br>
                            
                            <input type="password" placeholder="Password*" formControlName="password">
            
                        </div>
                        <br>
                        <div class="middle2">
                           <a class="textlink">Forgot Password?</a> 
                        </div>
                        <br><br>
                        <div class="bottom">
                            <a href="">Create account</a>
                            
                            <button (click)="onLoginClick()">Login</button>
                        </div>
            
                    </form>
                    
        </div>
    </div>



</body>

</html>