<div class="noteone" >
    
    

    <textarea matInput  class="noteinput" placeholder="Take a note..." (click)="myNoteFun()"></textarea>
    
    <div class="noteone-logo" >
        <div>

            <mat-icon><span class="material-symbols-outlined">
                check_box
                </span></mat-icon>
        </div>
        <div>

            <mat-icon><span class="material-symbols-outlined">
                brush
                </span></mat-icon>
        </div>
        <div>

            <mat-icon><span class="material-symbols-outlined">
                image
                </span></mat-icon>
        </div>
    </div>
      
   
  </div>
