.noteone{
    border:1pX solid rgb(231, 231, 231);

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    height: 40px;
    border-radius: 8px;
min-width: 330px;
padding-inline: 10px;
padding :0 20px
    
}

textarea{
    width: 100% !important;
    /* border:2pX solid rgb(223, 0, 0) !important; */
   
    box-sizing: border-box;
   height: 70%;
    font-size: 16px;
    border: none;
    margin-top: 5px;
 

}
.noteinput{
    /* margin: 5px; */
    /* border:none;
    width: 100%; */
}
.noteone-logo{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    
    
    /* border:2PX solid rgb(240, 8, 8); */

}
