body
{
    height: 100vh;
    width: 100%;
    /* margin: 0%;   */
    /* border: 2PX SOLID RED; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    
}

.a{
    height: 85%;
    width: 50%;
    border: 2px solid rgb(134, 134, 134);
    border-radius: 10px;
    display: flex;
    padding: 30px;
   
    /* justify-content: center;  */
    /* align-items:center ; */
}

.left-div{
    /* border:2PX solid rgb(255, 4, 4); */
    width: 60%;
   display: flex;
  
   /* flex-direction: row; */
    
    /* justify-content: center;  */
    /* text-align:justify; */
    /* float :left; */
}
.right-div{
    width: 40%;
    /* border:2PX solid rgb(0, 255, 0); */
    flex-wrap: wrap;
    display: flex;

    justify-content: center;
     align-items: center; 
    /* text-align:justify; */
    /* float: right; */
}
.top{
    height: 19vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    
     /* border:2PX solid rgb(14, 30, 173); */

}
.middle{
    height: 40vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    /* justify-content:space-between ; */
    /* align-items: center; */
    /* border:2PX solid rgb(21, 255, 0); */
    
}
.bottom{
    /* height:15vh; */
    width: 100%;
    /* border:2PX solid rgb(209, 231, 13); */
    display: flex;
    margin-top: 20px;
    
    justify-content: space-between;
   
}
.bottom button{
    color:white;
    background-color:#2b28e9;
    border: none;
    /* box-shadow: 100px 100px 100px  black; */
    
    /* border:2PX solid rgb(46, 197, 16); */
    border-radius: 5px;
    width: 10vh;

    height: 5vh;
}

.logo img{
    
    width: 40%;
    height: 90%;
    
     /* border:2PX solid rgb(0, 255, 200); */

}
.name{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    justify-content: space-between;
}
.name div{
    display: flex;
    
    justify-content: space-between;
    /* gap: 10px; */
    width: 190px;

     /* border:2PX solid rgb(255, 60, 0); */

}
.fname{
    width: 100%;
  
     /* border:2PX solid rgb(0, 255, 200); */

}
.uname{
    width: 100%;

}
.pass{
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
}
.pass div{
    display: flex;
    
    justify-content: space-between;
    /* gap: 10px; */
    width: 190px;

     /* border:2PX solid rgb(255, 60, 0); */

}



@media screen and (max-width:1182px) {
    .right-div{
        display: none;
    }
    .a{
        border: none;
        width: fit-content;
    }
    .name {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
    .name input{
        
   
       gap: 30px;
       margin-top: 0px;
        
    }
    .username input{
     
        height: 19px;
       
     
    }  
    .bottom{
        width: 100%;
        margin-top: 200px;

    }
} 

